<a href="https://colab.research.google.com/github/shindahee10113/-/blob/main/python02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **컬렉션자료형(collection data type)**
+ 여러 요소를 묶어서 처리할 수 있는 자료형 
+ 각 요소에 접근하는 방법이 제공

![대체 텍스트](https://drive.google.com/uc?export=view&id=1qNHKZPJv546haViE6KBY3kg8gUlHJm_F)

## 문자열

### 문자열 요소 접근

In [ ]:
#문자요소 접근 
s = 'Hello Python!'
print(s[5 : 12])

 Python

In [ ]:
# 문자열에 포함된 숫자들의 합
s = 'covid19'
print(s[5 : 7])

19

In [ ]:
data = input()
sum = 0
for item in data :
 if '1' <= item <= '9' :
    sum = sum + int(item)
print(f'{data} 중 숫자의 합은{sum}')

33
33 중 숫자의 합은6

### 문자열 인덱싱
 -  문자열의 각 문자는 0부터 시작되는 인덱스를 가짐
 - [인덱스]를 이용하여 인덱스위치의 문자 추출 :  처음위치 [0], 마지막위치 [-1]

In [ ]:
s = 'Hello Python!'

# 첫번쨰 문자

# 마지막 문자

---
### 해결문제
---
주민번호를 입력받아서 남여를 구분하시오. 입력형식 123456-1234567

In [ ]:
s = '123456-1234567'
#if s[7] == '1' or s[7] == '3' :
if s[7] in [ '1', '3'] :
    print('남')
else :
    print('여')

남


### 문자열 슬라이싱 
 - [인덱스1:인덱스2]: 인덱스1 위치에서 인덱스2 -1 위치까지 잘라냄
 - [인덱스1:] : 인덱스1 위치에서 끝까지 잘라냄
 - [: 인덱스2] : 처음부터 인덱스2 -1 위치까지 잘라냄

In [ ]:
s = 'Hello Python!'

# 5글자 추출
s[:: -1]

'!nohtyP olleH'

### 문자열 연산
+ 문자열 더하기(+)
+ 문자열 곱하기(*)

In [ ]:
'''
다음과 같이 출력
------------------------------
Hello Python!2021
------------------------------
'''
s = 'Hello Python!'
print('-'*40)
print(s + str(2021))

----------------------------------------
Hello Python!2021

In [ ]:
s.index('H')

0

In [ ]:
s.repiace('!','!!!!')

AttributeError: ignored

In [ ]:
'-'.join(s)
print(s)

'H-e-l-l-o- -P-y-t-h-o-n-!'

In [ ]:
s. spilt('-')

### **문자열 메소드**
+ **len()** : 문자열 길이 구하기
+ **count()** : 문자의 개수 구하기
+ **find()** : 문자가 처음 나오는 위치 반환 , 없으면 -1
+ **index()** : 문자가 처음 나오는 위치 반환, 없으면 오류
+ **join()** : 문자열 사이에 문자 삽입, 삽입문자’.join(문자열)
+ **upper()** :소문자를 대문자로 변환
+ **lower()** : 대문자를 소문자로 변환
+ **replace()** : 문자열 바꾸기
+ **replace(원본, 변환문자)**
+ **split()** : 문자열 나누기
 - 인수가 없으면 공백(스페이스, 탭, 엔터 등)을 기준

---
### 해결문제
---
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다. 코로나바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다. 이번에 중국의 우환에서 시작된 코로나바이러스는 2019년에 발견된 새로운 코로나바이러스라는 뜻으로 2019-nCoV로 붙여졌다. nCoV는 novel(새로운) CoV(코로나바이러스)라는 뜻이다.

+ 주어진 문자열은 문장으로 구성 되어 있는지 출력하시오. 
+ 찾고자 하는 단어를 입력 받아서 해당 단어가 몇 번 언급되었는지 확인해 보세요.

In [ ]:
'''
다음과 같이 출력 
--------------------------------------------------
4개의 문장으로 이루어져있습니다.
['코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다', ' 코로나바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다', ' 이번에 중국의 우환에서 시작된 코로나바이러스는 2019년에 발견된 새로운 코로나바이러스라는 뜻으로 2019-nCoV로 붙여졌다', ' nCoV는 novel(새로운) CoV(코로나바이러스)라는 뜻이다', ' ']
--------------------------------------------------
찾고자하는 단어를 입력하세요.코로나
--------------------------------------------------
코로나는 6번 언급되었습니다.
--------------------------------------------------
'''

corona = '''
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다. 
코로나바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다. 
이번에 중국의 우환에서 시작된 코로나바이러스는 2019년에 발견된 새로운 코로나바이러스라는 뜻으로 2019-nCoV로 붙여졌다. 
nCoV는 novel(새로운) CoV(코로나바이러스)라는 뜻이다. 
'''

In [ ]:
print(corona.count('.'))
corona = corona.replace('\n '.'')
print(corona.split('.'))

In [ ]:
W = input() 

print(corona.count(\))

## **리스트(list)**
 - 리스트의 각 요소는 순서를 가지고 있음
 - 대괄호([])로 작성되며 각 요소는 쉼표(,)로 구분
 - 요소를 추가, 수정, 삭제 가능

### 리스트 생성
+ []나 리스트 함수

In [ ]:
x = [1, 2, 3, 'a', 'b',[14.5, 5.6]]
print(x, type(x))

[1, 2, 3, 'a', 'b', [14.5, 5.6]] <class 'list'>

In [ ]:
print(x[3:])

['a', 'b', [14.5, 5.6]]

### 리스트 요소 접근

In [ ]:
lt = ['1', '2', '3', '4', '5']

# 각 요소 한줄로 출력 
# 출력 : 1 2 3 4 5

In [ ]:
lt = ['1', '2', '3', '4', '5']
print(f'{lt} => {type(lt)}')
 for in i it
print(i, type(i), end = ' ')
#요소를 모두 정수로 변환  
it =[int(i) for i in it]
for i in it :
 print (i, type (i), end ' ')

---

**생각해보기 해결문제)**


---
정수형으로 입력되는 밑변과 높이를 공백을 기준으로 한 줄로 입력받는다면?
* 예) 20 10

In [ ]:
data = input()
x = data. split(' ')
x = [int(i) for in i x ]
print(f'밑변이{s}이고 높이가{h}인 삼각형의 면적은{side}입니다 )

SyntaxError: ignored

In [ ]:
it =['1', '2', '3', '4']
it

['1', '2', '3', '4']

In [ ]:
it = [int(item) for item in it]
it

In [ ]:
for item in it :
  print(item, type(item), int(item), type(int(item)))

1 <class 'str'> 1 <class 'int'>
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
4 <class 'str'> 4 <class 'int'>

In [ ]:
it[0] = int(it[0])
it[1] = int(it[1])
it[2] = int(it[2])

#range(5) => 0-4
for i in len(it) :
   it[i] = int(it[i])
it

### 리스트 인덱싱
 - 요소의 선택은 0부터 시작되는 인덱스로 접근
 - 리스트명[인덱스]

In [ ]:
lt = [1 , 3, 5]

#마지막 요소 출력
print(it[2])
print(it[-1])

3
4

### 리스트 슬라이싱
 - 요소의 일부분 선택
 - 리스트명[시작인덱스:종료인덱스] : 종료인덱스는 포함되지 않음

In [ ]:
lt = [1 , 3, 5]

#3, 5 추출 
it[1:]

['2', '3', '4']

### 리스트 연산
+ 더하기(+) : 리스트와 리스트 연결
+ 곱하기(*) : 리스트 요소 반복

In [ ]:
lt1 = [1, 2, 3]
lt2 = [3, 4, 5]

#두 리스트 더하기 
it = it1 + it2
print('라스트 더하기:', it)
#lt1 리스트 요소 3번 반복하기 
print(it1*3)

In [ ]:
s1 = 'Hollo'
s2 = 'python!'

print(s1 + s2)
print(s1*3)

Hollopython!
HolloHolloHollo

In [ ]:
it1 = [1, 2, 3]
it2 = [3, 4, 5]

it = [0,0,0]

for i in range(it1) :
  it[i] = it1[i] + it2[i]

  print(it)

In [ ]:
it1 = [1, 2, 3]
it2 = [4, 5, 6]

it = []

for i in  range(len(it1)) :
  it.append(it1[i] + it2[i] )

print(it)

[5, 7, 9]

In [ ]:
it.remove(5)
it

[7]

In [ ]:
it.pop()
it

[5, 7]

In [ ]:
it.insert(0, 5)
it

[5, 7]

### 리스트 변경
* 추가
 - 리스트명.append(추가요소) : 마지막에 추가
 - 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가

* 삭제
 - 리스트명.pop() : 마지막 요소 삭제
 - 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
 - 리스트명.remove(요소값) : 해당 요소값 삭제, 해당 값이 없으면 오류

* 수정
 - 리스트명[인덱스]=변경값
 - (참고) isinstance()함수 : 특정 객체가 특정 타입인지에 대해서 확인할 수 있는 방법

In [ ]:
# 정수를 입력받아서 약수리스트를 구하기
a=int(input())
ab=[]
for i in range(1, a+1):
  if(a%i==0):
    ab.append(i)
print(ab)

12
[1, 2, 3, 4, 6, 12]

In [ ]:
lt = [1, 2, 5 , 10]

#2를 제외한 모든 요소 삭제

[2]

In [ ]:
print(f'합계 : {sum(it)}')
print(f'최대값 : {max(it)}')
print(f'최섯값 : {min(it)}')
print(f'평균 : {sum(it)/len(it)}')

합계 : 12
최대값 : 7
최섯값 : 5
평균 : 6.0

In [ ]:
ssum = 0
 for i in it :
  ssum = ssum+i

print(ssum)

In [ ]:
# 문자인 요소를 숫자로 변경
lt = [1, 2, '5', 10]

### 리스트 메소드
+ 리스트명.index(요소값) : 해당 요소값의 위치를 반환
 - 여러 개 요소가 존재하면 첫번째 위치 반환하고 없으면 오류
+ 리스트명.count(요소값) : 리스트 요소 개수 구하기
+ 리스트명.sort() : 오름차순 리스트 정렬
 - 리스트명.sort(reverse=True): 내림차순
+ 리스트명.reverse() : 요소를 역순으로 뒤집어 줌

In [ ]:
it =[4, 2.1,24]
it.count(2)

In [ ]:
it =[4, 2.1,24]

In [ ]:
s = 'heiio'
s.count(2)

---
### 해결문제


---
회문(palindrome)은 순서를 거꾸로 읽어도 제대로 읽은 것과 같은 단어와 문장이다, 단어를 입력받아 회문인지 판별하시오.

In [ ]:
eye
level

In [ ]:
data = input()

토마토

In [ ]:
# reverse와 join 활용 
data = input()

its = list(data)
its = its.reverse()
s =''.join(its)

if data== s : print(f'{data}는 회문')
else : print(f'{data}는 비회문')

In [ ]:
#[::-1] : 처음부터 끝까지 -1칸 간격으로 ( == 역순으로)

data = input()
s = data[::-1]

if data == s : print(f'{data}는 회문')
elsa : print(f'{data}는 비회문')

### 리스트 내장함수
* sum() : 리스트의 합을 반환
* min() : 리스트 최소값 반환
* max() : 리스트 최대값 반환
* len() : 리스트 개수 반환

# 45까지 해결 문제 풀기

---
### 해결문제


---
자신을 제외한 모든 약수의 함이 자신과 같은 수를 완전수라고 한다. 
입력한 값이 완전수 인지 확인해 보세요.
예) 6, 28, 496

In [ ]:
s = int(input())
sh =[]
for i in range(1,s)
   if(s%i== 0) :
     sh.append(i)

  print(sh)
 
  sum(s)



---
### 해결문제


---
369게임은 3,6,9가 포함된 숫자가 나오면 박수를 치는 게임이다.

이때, 해당 숫자에 여러개의 3,6,9가 포함되면 해당 개수만큼 박수를 쳐야한다.

예를 들어, 36이면 2번의 박수를 쳐야한다.
N을 입력받아서 N이전까지 박수 친 횟수를 구하시오.

예) 입력: 35, 출력: 15

In [ ]:
n = int(input())
 
cut = 0
for i in range(n) :
  temp = list(str(i))
  print(temp , "=>" , end = ' ')
  temp = [int(i) for i in temp]
  
  for j in temp :
    if j in [3, 6, 9] : cut = cut + 1
  print(cut)
  
print()
print(cut)

40
['0'] => 0
['1'] => 0
['2'] => 0
['3'] => 1
['4'] => 1
['5'] => 1
['6'] => 2
['7'] => 2
['8'] => 2
['9'] => 3
['1', '0'] => 3
['1', '1'] => 3
['1', '2'] => 3
['1', '3'] => 4
['1', '4'] => 4
['1', '5'] => 4
['1', '6'] => 5
['1', '7'] => 5
['1', '8'] => 5
['1', '9'] => 6
['2', '0'] => 6
['2', '1'] => 6
['2', '2'] => 6
['2', '3'] => 7
['2', '4'] => 7
['2', '5'] => 7
['2', '6'] => 8
['2', '7'] => 8
['2', '8'] => 8
['2', '9'] => 9
['3', '0'] => 10
['3', '1'] => 11
['3', '2'] => 12
['3', '3'] => 14
['3', '4'] => 15
['3', '5'] => 16
['3', '6'] => 18
['3', '7'] => 19
['3', '8'] => 20
['3', '9'] => 22

22

In [ ]:
n = int(input())
cut = 0 
for i in eange(1, n):
  temp = 0
  temp = str(i),count('3')
  temp = temp +  str(i), count('6')
  temp = temp  + str(i), count('9')

## 튜플(tuple) 
+ 튜플의 각 요소는 순서를 가지고 있음
+ 괄호(())로 작성되며 각 요소는 쉼표(,)로 구분
+ 요소를 추가, 수정, 삭제 불가능
+ **한번 결정된 요소는 변경 불가능**
+ **인덱싱과 슬라이싱은 리스트와 동일**
+ $+$와 $*$연산은 리스트와 동일
+ 각 요소에 변수 할당 가능
 - x, y = (10, 20)

In [ ]:
tp = (10, 20, 30)
print(tp, type(tp))

(10, 20, 30) <class 'tuple'>

In [ ]:
tp[0] = 100
tp

TypeError: ignored

In [ ]:
tp = list(tp)
print(tp, type(tp))

tp[0] = 100
tp =tuple(tp)

print(tp, type(tp))

---

**생각해보기)**


---
튜플의 내용을 변경하고 싶을 경우는?

## 딕션너리(dictionary)
 - 키(key)와 값(value) 쌍을 요소로 가짐
 - 중괄호({})로 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음 
 - 키는 변경할 수 없으며 값은 변경가능

In [ ]:
it = [57, 62, 59, 59, 58, 64, 62, 60, 53,58]
it[1]

62

In [ ]:
areadata = {'서울시':57, '부산시':62, '대구시':59, 
            '인천시':59, '강화군':58, '서해5도' : 64, 
            '광주시' :62, '대전시':60, '울산시':53, 
            '세종시':58	}

In [ ]:
areadata['부산시']
areadata

In [ ]:
areadata.get('부산시')

### **딕션너리 접근**
 - 특정 요소 값 가져오기
   + **딕션너리명[키]**
   + **닥션너리명.get(키값)**
    + Key에 대응되는 Value를 돌려줌
    + 딕션너리명[키값]인 것과 동일 
    + 차이점 : 키가 없을 경우 딕션너리명[키값]은 오류이고 get()으로 가져올 경우는 none
 - 요소 키 컬렉션  : 딕션너리명.keys()
 - 요소 값 컬렉션 : 딕션너리명.values()
 - 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능

In [ ]:
#부산시 자료 가져오기

In [ ]:
#키와 값을 분리
print(areadata)
print(areadata.keys())
print(list(areadata.values())

In [ ]:
del areadata['제주']
areadata

In [ ]:
areadata.pop['충청']

In [ ]:
areadata['충청'] =1
areadata['제주'] = 100
areadata['거제시'] =1000
areadata['김해'] = 10000

areadata

In [ ]:
#키와 값으로 출력 
areadata['부산시'] = 70
areadata

### **요소 변경**
* 추가 : 딕션너리명[추가키]=값
* 수정 : 딕션너리명[키]=값
* 삭제
 - del 딕션너리명[키]
 - 딕션너리명.pop[키]

---


### 해결문제

---
지역별 식중독 지수와 대응요령 딕션너리를 참고하여 해당 지역을 입력 받아서 대응요령을 출력하시오.


+ 위험 : 86 이상 
 - 설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름

+ 경고:71 이상 86 미만
 - 조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함

+ 주의:55 이상 71 미만
 - 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반

+ 관심:55 미만
 - 화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화

In [2]:
areadata = [['서을시', 57 ], ['부산시', 62]]

In [3]:
areadata[1][1]

62

In [ ]:
areadata = {'서울시':57, '부산시':62, '대구시':59, 
            '인천시':59, '강화군':58, '서해5도' : 64, 
            '광주시' :62, '대전시':60, '울산시':53, 
            '세종시':58	}

report = {'위험': '설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름',
         '경고': '조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함',
         '주의': '조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반',
         '관심': '화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화'}

In [ ]:
# 새로운 딕션어리 만듬
rept = {}

for k, v item in areadata.item() :
  if v >= 86 : rept[k] = '위험'
  elif v >= 71 ; rept[k] = '경고'
  elif v >= 55 : rept[k] = '주의'
  else : rept[k] = '관심'

print(rept)

for k, v in rept.item():
   print(f'{k}({v}) : {rept[v]}')

In [ ]:
print(areadata, type(areadata))

In [ ]:
areadata['부산시']

In [ ]:
'''
다음과 같이 출력 
서울시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
부산시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
대구시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
인천시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
강화군(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
서해5도(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
광주시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
대전시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
울산시(관심) : 화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화
세종시(주의) : 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반
'''

## 집합(set)
+ **특징**
 - 중복 없는 요소로만 구성
 - 중괄호({}) 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음

+ **생성자 set()**
 - 리스트나 튜플의 중복 요소 제거 

+ **요소 추가**
 - 집합명.add(요소) : 하나의 요소 추가
 - 집합명.update(추가집합) : 여러 요소를 추가

+ **요소 삭제**
 - 집합명.remove(요소값) : 하나의 요소 삭제
 - 집합명.clear() : 모든 요소 삭제
 
+ **집합 연산**
 - 교집합 : &
 - 합집합 : |
 - 차집합 : -

In [ ]:
lt = [11, 3,1, 2, 2, 3,3, 5]

#중복 요소 제거  
It = list(set(item))
print(it, type(it))

## **zip()**
+ 동일한 개수로 이루어진 컬렉션 자료형을 묶어 주는 역할을 하는 함수

In [14]:
lt = [10,50,30]
tp = ('a','b','c')

#딕션너리 만들기 
dt1 = list(zip(lt, tp))
dt2 = dict(zip(tp, lt))
print(dt1)
print(dt2)

[(10, 'a'), (50, 'b'), (30, 'c')]
{'a': 10, 'b': 50, 'c': 30}

In [ ]:
#리스트 만들기